<a href="https://colab.research.google.com/github/SakshiShenvekar982/Data-Science-and-Data-Analytics-Notebooks/blob/main/Fundamentals_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Python Output

In [ ]:
print('Hello world')

Hello world

In [ ]:
print(7)
print(7.1)
print('Hello World',1,3,5)

7
7.1
Hello World 1 3 5

In [ ]:
print('Hello World',1,3,5,sep = "/")

Hello World/1/3/5

# 2. Data Types

In [ ]:
#1. Integer 1,2,3,4,....
#2. Float 1.2,3.4,4.0,..

In [ ]:
print(7)
type(7)

7

int

In [ ]:
print(9.8)
type(9.8)

9.8

float

In [ ]:
#3. String (" ")
type("Hello World")

str

In [ ]:
#4. tuple ()
#immutable
print((1,2,3,4))
type((1,2,3,4))

(1, 2, 3, 4)

tuple

In [ ]:
#5. List []
#Mutable
print([1,2,3,4,5])
type([1,2,3,4,5])

[1, 2, 3, 4, 5]

list

In [ ]:
#Set {}
#Mutable
print({1,2,3,4,5,6})
type({1,2,3,4,5,6})

{1, 2, 3, 4, 5, 6}

set

In [ ]:
#Dictionary {key:value}
#Mutable
print({1:"A",2:"B",3:"C"})
type({1:"A",2:"B",3:"C"})

{1: 'A', 2: 'B', 3: 'C'}

dict

# 3. Variables

In [ ]:
#container to store values
a = 1
b = 2
c = 3
d = "Hello"
print(a,b,c,d)

1 2 3 Hello

In [ ]:
a,b,c,d = 1,2,3,"Hello"
print(a,b,c,d)

1 2 3 Hello

In [ ]:
a = b = c = 4
print(a,b,c)

4 4 4

# 4. Keywords and Identifiers

In [ ]:
#keywords are set of reserved words that cannot be used as variable names.
#(if, else, break, print, def) etc

In [ ]:
#Identifiers are variable name we give to identify variables.
'''Rules for identifiers:
1. Cannot start with number or symbol.
2. can start with underscore'''
_a= 1
print(_a)

1

# 5. User Input

In [ ]:
input("Enter Email id:")

Enter Email id:sakshi@gmail.com

'sakshi@gmail.com'

# 6. Type Conversion

In [ ]:
name = input("Enter Name:")
age =  int(input("Enter Age:")) #explicit type conversion
print("Name:",name)
print("Age:",age)

Enter Name:Sakshi
Enter Age:23
Name: Sakshi
Age: 23

# 7. Operators

In [ ]:
#Arithmetic Operators(+,-,*,/,%,**)
print(5+5)
print(10-5)
print(2*6)
print(5/2)
print(5%2)
print(5**2)

10
5
12
2.5
1
25

In [ ]:
#Relational/Comparison Operators(=,!=,>,<,>=,<=)
print(4>5)
print(4<5)
print(4==3)
print(4!=3)

False
True
False
True

In [ ]:
#Assignment Operators (=, +=, -=, *=, /=, %=, **=)
x = 5
print(x)
x += 3
print(x)
x -= 4
print(x)
x *= 2
print(x)
x /= 2
print(x)
x %= 2
print(x)
x **= 2
print(x)

5
8
4
8
4.0
0.0
0.0

In [ ]:
#Bitwise Operators
#Special operators which works on binary numbers

print(2 & 3) #Bitwise AND Operator

print(2 | 3) #Bitwise OR Operator

print(2 ^ 3) #Bitwise XOR Operator

2
3
1

# Conditional Statements

1. if-else statement

In [ ]:
#Login Program and indentation
#email -> abc@gmail.com
#pwd -> 1234
email = input("Enter your email: ")
pwd = int(input("Enter your password: "))
if email == "abc@gmail.com" and pwd == 1234:
  print("Logged in Sucessfully")
elif email == "abc@gmail.com" and pwd != 1234:
  print("Incorrect Password")
  pwd = int(input("Enter your password again: "))
  if pwd == 1234:
    print("Logged in Sucessfully")
  else:
    print("Leave it!")
elif email != "abc@gmail.com" and pwd == 1234:
  print("Incorrect Email")
  email = input("Enter your Email again: ")
  if email == "abc@gmail.com":
    print("Logged in Sucessfully")
  else:
    print("Leave it!")
else:
  print("Invalid credentials")

Enter your email: ab@gmail.com
Enter your password: 1234
Incorrect Email
Enter your Email again: abc@gmail.com
Logged in Sucessfully

2. elif statement

In [ ]:
num1 = int(input("Enter first Number: "))
num2 = int(input("Enter second Number: "))
num3 = int(input("Enter third Number: "))
if (num1<num2 and num1<num3):
    print(num1, "is smaller than",num2 ,"and",num3)
elif(num2<num3):
    print(num2, "is smaller than",num1 ,"and",num3)
else:
    print(num3, "is smaller than",num1 ,"and",num2)

Enter first Number: 10
Enter second Number: 7
Enter third Number: -5
-5 is smaller than 10 and 7

# Modules in Python

In [ ]:
#math, keywords, random, datetime

In [ ]:
#math
import math
math.factorial(5)

120

In [ ]:
#keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#random
import random
print(random.randint(1,100))

62

In [ ]:
#datetime
import datetime
print(datetime.datetime.now())

2024-04-05 17:50:29.705191

# Loops - used to repeat instructions

1. while Loop
*   The while loop in python is used to iterate over a part of code till the specified condition is true.

In [ ]:
#Multiplication table
num = int(input("enter a number: "))
i = 1
while i <= 10:
    mul = num*i
    print("{} * {} = {}".format(num,i,mul))
    i = i+1

enter a number: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
#while loop along with else
x = 1
while x < 11:
  print(x)
  x = x+1
else:
  print('Limit Crossed!')

1
2
3
4
5
6
7
8
9
10
Limit Crossed!

In [ ]:
count = 0
while count <= 5:
  print(count,"The condition is true!")
  count = count + 1
print("End of the loop")

0 The condition is true!
1 The condition is true!
2 The condition is true!
3 The condition is true!
4 The condition is true!
5 The condition is true!
End of the loop

In [ ]:
while True:
  print("Please type your name..")
  name = input()
  if name == "Jenny":
    break
print("Thank you, you entered correct name....")

Please type your name..
Jim
Please type your name..
Jenny
Thank you, you entered correct name....

In [ ]:
# LCM of 4 and 7
x = 0
while True:
  x = x+1
  if not(x % 4 or x % 7 ):
    break
print(x,'is divisible by both 4 and 7')

28 is divisible by both 4 and 7

In [ ]:
i = 0
while i<10:
  i = i+1
  if i == 6:
    continue
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
#while loop with else
i = 1
while i < 5:
  print(i)
  i = i+1
else:
  print("i is not less than 5")

1
2
3
4
i is not less than 5

In [ ]:
a = [1,2,3,4,5]
while a:
  print(a.pop())
else:
  print("There are no elements left in the list.")

5
4
3
2
1
There are no elements left in the list.

2. for loop
* for loop in python is used to iterate
over items present in a sequence, such as lists, tuples, dictionaries or strings.
*  A for loop uses the range() function to iterate for a specific amount of time.

In [ ]:
#for loop using range function
#syntax -> range(start,end,step) end is exclusive
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print even numbers from 1 to 10
for i in range(0,11,2):
  print(i)

0
2
4
6
8
10

In [ ]:
#for loop on string sequence
for i in "Delhi":
  print(i)

D
e
l
h
i

In [ ]:
#for loop on list sequence
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [ ]:
#String
s = "SakshiShenvekar"
for i in s:
  print(i,end="*")

S*a*k*s*h*i*S*h*e*n*v*e*k*a*r*

In [ ]:
#list
l = ['Sakshi','Vinod','Vidhi','Rutuja','Sumedh','Kajol']
for i in l:
  print(i)

Sakshi
Vinod
Vidhi
Rutuja
Sumedh
Kajol

In [ ]:
#find the avg of a list of numbers
list_num = [20,25,10,50,45]
sum = 0
for i in list_num:
  sum = sum + i #0+20=20 ,
print("sum =",sum)
print("average =",sum/len(list_num) )
print(len(list_num))

sum = 150
average = 30.0
5

In [ ]:
#for loop using tuple
num = (30,45,60,50,70)
sum = 0
for i in num:
  sum = sum + i
print(sum)

255

In [ ]:
#multiplication table
num = int(input("Enter a number: "))
for i in range(1,11):
  mul = num*i
  print("{} * {} = {}".format(num,i,mul))

Enter a number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
list_2 = ['C++','java','python','R']
for i in range(len(list_2)):
  print("hello",list_2[i])

hello C++
hello java
hello python
hello R

In [ ]:
#WAP -> The population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to find out the population at the end of the last 10 year.
cur_pop = 10000
for i in range(10,0,-1):
  print("Population at the end of the year",i,":",cur_pop)
  cur_pop = cur_pop/1.1

Population at the end of the year 10 : 10000
Population at the end of the year 9 : 9090.90909090909
Population at the end of the year 8 : 8264.462809917353
Population at the end of the year 7 : 7513.148009015775
Population at the end of the year 6 : 6830.134553650703
Population at the end of the year 5 : 6209.213230591548
Population at the end of the year 4 : 5644.739300537771
Population at the end of the year 3 : 5131.5811823070635
Population at the end of the year 2 : 4665.07380209733
Population at the end of the year 1 : 4240.976183724845

# **Nested** **for** **Loops**

In [ ]:
companies = ["Google","Apple","PWC","Uber"]
for i in companies:
  print("We will display each letter of",i)
  for letter in i:
    print(letter)

We will display each letter of Google
G
o
o
g
l
e
We will display each letter of Apple
A
p
p
l
e
We will display each letter of PWC
P
W
C
We will display each letter of Uber
U
b
e
r

In [ ]:
#printing unique values
for i in range(1,4):
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
#for loop with else clause
for i in range(1,11,2):
  print(i)
else:
  print("The loop has completed execution")

1
3
5
7
9
The loop has completed execution

In [ ]:
#break statement

for i in range(1,10):
  if(i==6):
    break
  print(i)

1
2
3
4
5

In [ ]:
#continue statement

for i in range(1,10):
  if(i==6):
    continue
  print(i)

1
2
3
4
5
7
8
9

In [ ]:
#program to display the total goals a player has scored
goals = {'Vinod':20,'Sumedh':15,'Vinayak':30,'Pritam':12}
player_name = input("Enter the player's name: ")

for player in goals:
  if player == player_name:
    print(goals[player])
    break
else:
  print("No such player with that name found..")

Enter the player's name: Vidhi
No such player with that name found..

In [ ]:
#cube of number using for loop
num = [2,5,7,4,8,6]
print(num)
print("Cube of numbers: ")
cube = []
for i in num:
  cube.append(i**3)

print(cube)

[2, 5, 7, 4, 8, 6]
Cube of numbers:
[8, 125, 343, 64, 512, 216]

# **Pattern** **Printing**

*  Outer loop is for rows(i)
*  Inner loop is for columns(j)

In [ ]:
#1. simple line
n = int(input("Enter number: "))
for i in range(n):
  print("*",end=" ")

Enter number: 6
* * * * * *

In [ ]:
#2. Simple square
n = int(input("Enter number of rows: "))
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print()

Enter number of rows: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
#2. left-angled traingle
n = int(input("Enter number of rows: "))
for i in range(n): #number of rows
  for j in range(i+1): #each time is increased that is number of columns(1,2,3,4..)
    print("*", end=" ")
  print()

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#3. Decreasing traingle
n = int(input("Enter number of rows: "))
for i in range(n): #number of rows
  for j in range(i,n): #each time number of columns are decreased i.e. (0,5);(1,5);(2,5);(3,5);(4,5)
    print("*", end=" ")
  print()

Enter number of rows: 5
* * * * *
* * * *
* * *
* *
*

In [ ]:
#right sided traingle
n = int(input("Enter number of rows: "))
for i in range(n):
  for j in range(i,n): #print(1,5)i.e. 4 spaces; print(2,5)i.e. 3 spaces...
    print(" ", end=" ")
  for j in range(i+1): #print(0+1)=1 star; print(1+1)=2 star...
    print("*", end=" ")
  print() #next line

Enter number of rows: 5
          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
#inverted right sided traingle
n = int(input("Enter number of rows: "))
for i in range(n):
  for j in range(i+1): #each time is increased that is number of columns(1,2,3,4..)
    print(" ", end=" ")
  for j in range(i,n): #print(0,5)=5 star; print(1,5)=4 sta...
    print("*", end=" ")
  print() #next line

Enter number of rows: 5
  * * * * *
    * * * *
      * * *
        * *
          *

# Functions


*   A function is a block of code which only runs when it is called. you can pass data, known as parameters, into a function.
*  A function can return data as a result

In [ ]:
def my_func():
  print("Hello from the function!!")

my_func()

Hello from the function!!

In [ ]:
def func_1(fname):
  print("Hello",fname)

func_1("sakshi")
func_1("vinod")

Hello sakshi
Hello vinod

In [ ]:
def func_1(fname,lname):
  print("Hello",fname,lname)

func_1("sakshi","shenvekar")

Hello sakshi shenvekar

In [ ]:
#default arguments or #keywords
def power(a=2,b=3):
  return a**b

print(power(3,3))
print(power())

27
8

In [ ]:
#positional arguments
print(power(5,3))

125

In [ ]:
num = int(input("Enter a number: "))
def even_odd(num):
  if num%2 == 0:
    return "Number is even"
  else:
    return "Number is odd"

even_odd(num)

Enter a number: 6

'Number is even'

In [ ]:
def is_even(num):
  if type(num) == int:
    if num % 2 == 0:
      return "even"
    else:
      return "odd"
  else:
    return "Do not try again"

for i in range(1,11):
  x = is_even(i)
  print(i,x)

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even